@import "vendor/bootstrap/less/bootstrap.less";
@import "vendor/bootswatch/slate/variables.less";
@import "vendor/bootswatch/slate/bootswatch.less";
@import "vendor/font-awesome/less/font-awesome.less";

body {
	padding-top: 65px;
	padding-bottom: 40px;
}

main {
	&:extend(.container all);
}

footer.main {
	&:extend(.container all);
	.text-muted;
	margin-top: 50px;
	padding-top: @line-height-computed;
	border-top: 1px solid @hr-border;
}

//page-specific CSS
@import "home/index.less";
@import "database/unlock/index.less";
@import "database/viewer/index.less";