<ul class="kp-group">
	<li ng-repeat="group in groups" ng-include="'kp-menu-group.html'"></li>
</ul>

<script type="text/ng-template" id="kp-menu-group.html">
	<a class="kp-group-name" href="#" ng-click="select(group)" ng-class="{ selected: isSelected(group) }">
		<i class="fa" ng-class="{ 'fa-folder-open': isSelected(group), 'fa-folder': !isSelected(group) }"></i>
		{{group.name}}
	</a>
	<span class="kp-group-count">({{group.entries.length | number}})</span>
	<ul class="kp-group" ng-if="group.groups || isSelected(group)">
		<li ng-repeat="group in group.groups" ng-include="'kp-menu-group.html'"></li>
		<li ng-if="isSelected(group)" ng-repeat="entry in group.entries">
			<a class="kp-entry-name" href="#" ng-click="select(entry)" ng-class="{ selected: isSelected(entry) }">
				<i class="fa fa-key"></i>
				{{entry.title}}
			</a>
		</li>
	</ul>
</script>