<div ng-include="'/assets/database/nav.html'" class="kp-nav"></div>
<div class="kp-entry-container">
	<ol class="breadcrumb" ng-if="breadcrumbs.length">
		<li ng-repeat="item in breadcrumbs">
			<a href="#" ng-click="select(item)">
				<i class="fa fa-key" ng-if="item.isEntry"></i>
				<i class="fa fa-folder-open" ng-if="!item.isEntry"></i>
				{{item.title || item.name}}
			</a>
		</li>
	</ol>

	<ng-include ng-if="selectedItem.isEntry" src="'/assets/database/entry.html'" ng-controller="DatabaseEntryCtrl"></ng-include>
	<ng-include ng-if="selectedItem && !selectedItem.isEntry" src="'/assets/database/items.html'"></ng-include>
</div>