.kp-viewer {
	header {
		margin: 30px 0;
	}

	ul.kp-group {
		margin: 0;
		padding: 0;
	}

	ul.kp-group li {
		list-style: none;
		margin-left: 1em;
	}

	.kp-group-name.selected, .kp-entry-name.selected {
		font-weight: bold;
	}
}
